* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.8rem);
  --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  --step-4: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem);
  --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);

  --space-xs: clamp(0.75rem, calc(0.68rem + 0.33vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.37rem + 0.65vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.83rem + 0.87vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.74rem + 1.3vw), 3.75rem);

  --ff-primary: "Roboto", sans-serif;
  --color-primary: #114466;
  --color-secondary: #fff;
  --color-darkish: #5b6b81;

  --border-radius: var(--space-s);
  --border-thin: 2px;
  --border-thick: 4px;

  --measure: 50ch;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--ff-primary);
  font-size: var(--step-1);
  line-height: 1.5;
  padding-inline: var(--space-l);
}

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: -0.05ch;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

p {
  max-inline-size: var(--measure);
}

header {
  margin-block-end: var(--space-m);
}

button,
textarea {
  font: inherit;
}
.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.stack > * {
  margin-block-start: var(--space-xs, 1rem);
}

.box {
  padding: var(--space-s);
  border: var(--border-thin) solid;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
}

.box * {
  color: inherit;
}

.answerBtn {
  align-self: flex-start;
  min-inline-size: 20ch;
  text-align: left;
  padding-inline-start: var(--space-m);
}

.answerBtnContainer::after {
  content: "";
  height: 1px;
  width: calc(var(--measure) * 0.8);
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-xs);
  background-color: var(--color-primary);
}

/* .mainPageContainer {
  display: none;
}
.questionContainer {
  display: none;
}
.enterNameContainer {
  display: none;
}
.highScoresContainer {
  display: none;
} */

#nameLabel {
  font-size: var(--step-0);
  flex-shrink: 0;
}

:focus {
  outline: 3px solid var(--color-secondary);
  outline-offset: 0.4ch;
}

.flex-row {
  display: flex;
  align-items: center;
}

.header-flex {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

textarea {
  resize: none;
  flex-shrink: 1;
  margin-inline-start: 0.5ch;
}

.submitNameContainer {
  font-size: var(--step--1);
}

.highScoresBtns {
  justify-content: center;
  gap: var(--space-xs);
}

[data="stack-notLast"] > :not(:last-child) {
  margin-block-end: var(--space-s, 1rem);
}
